/* Global CSS Reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
em,
small,
strike,
sub,
sup,
b,
i,
u,
ol,
ul,
li,
form,
label,
fieldset,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: Arial, sans-serif;
  color: #333;
}

/* for custom select box */
.custom-select {
  /* Styling for the select dropdown */
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 12px 12px;
  width: 350px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  outline: none;
}

.custom-select option {
  /* Styling for the options */
  background-color: #fff;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 1rem;
  outline: none;
}

/* Calender styling */
.custom-date {
  /* Styling for the input field */
  border: 1px solid gray;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 12px 12px;
  width: 350px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  outline: none;
}

/* Styling for the calendar dropdown */
.custom-date::-webkit-calendar-picker-indicator {
  background-color: #f2f2f2;
  color: #333;
  padding: 2px;
  border-radius: 100%;
}

.custom-date::-webkit-calendar-picker-indicator:hover {
  background-color: #fff;
}

.custom-date::-webkit-calendar-picker-indicator:active {
  background-color: skyblue;
  border-radius: 100%;
}

.custom-date::-webkit-inner-spin-button,
.custom-date::-webkit-outer-spin-button {
  display: none;
}

/* Status button styling */
.custom-button-start{
background-color: rgba(13, 13, 222, 0.824);
color: white;
padding: 6px 1rem;
border-radius: 1rem;
font-size: .8rem;
}
.custom-button-close,.custom-button-cancel{
  font-size: .8rem;
  padding: 0px 1.2rem;
  border-radius: 1rem;
  border: 1px solid rgb(3, 3, 133);
  color: rgb(3, 3, 133);
}
/* Additional Global Styles */
/* Add your additional global styles here */
